@model IEnumerable<LearningHub.Models.MessageTbl>

@{
    ViewBag.Title = "Index";
}
@section Styles {
    <!-- Custom styles for this page -->
    <link href="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}



<div class="card-body">
    <p>
        <div class="row">
            <div class="col-md-4">
                @Html.ActionLink("Create Message", "Create", new { area = "" }, new { @class = "btn btn-primary btn-user btn-block" })
            </div>

        </div>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MessageText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstPara)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SecondPara)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ThirdPara)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FourthPara)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FifthPara)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstPara)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecondPara)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThirdPara)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FourthPara)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FifthPara)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MsgID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.MsgID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.MsgID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <!-- Page level plugins -->
    <script src="~/Content/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/Admin/js/demo/datatables-demo.js"></script>
}

