@model IEnumerable<LearningHub.Models.ExamTbl>

@{
    ViewBag.Title = "Staff Dashboard";

    Layout = "~/Views/Shared/Staff/_StaffBase.cshtml";


}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectTbl.SubjectName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConductDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectTbl.SubjectName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ExamID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ExamID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ExamID })
                </td>
            </tr>
        }

    </table>*@


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Parents
            <small>Parents List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Parent List</a></li>

        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="dataTable" role="grid" width="100%" cellspacing="0">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.ExamName)</th>
                                            <th rowspan="1" colspan="1">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr role="row">
                                                <td class="sorting_1">
                                                    @Html.DisplayFor(modelItem => item.ExamName)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.ExamID }) |
                                                    @*@Html.ActionLink("Details", "Details", new { id = item.ParentID }) |*@
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ExamID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.ExamName)</th>
                                            <th rowspan="1" colspan="1">Delete</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "pageLength": 20,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })</script>
}
