@model LearningHub.Models.VideoTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VideoTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VideoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChapterTbl.ChapterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChapterTbl.ChapterName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VideoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
