@model LearningHub.Models.ChapterTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChapterTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChapterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChapterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectTbl.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectTbl.SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChapterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
