@model IEnumerable<LearningHub.Models.StudentsAttentanceTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Staff/_StaffBase.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Attendance
            <small>Attendance list</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Attendance</a></li>

        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="card-body">
                            <table class="table table-bordered table-striped" id="dataTable" role="grid" width="100%" cellspacing="0">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.StudentTbl.StudentName)</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.PresentDate)</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.LoginMinites)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StudentTbl.StudentName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PresentDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LoginMinites)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.StudentTbl.StudentName)</th>
                                        <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.PresentDate)</th>
                                        <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.LoginMinites)</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "pageLength": 20,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })</script>
}
