@model IEnumerable<LearningHub.Models.StaffAssignClassTbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassTbl.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffTbl.StaffName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassTbl.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffTbl.StaffName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AllotedClassID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AllotedClassID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AllotedClassID })
        </td>
    </tr>
}

</table>
